Repository DandaAkhilReddy/reddygo-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, dependencies, ci/cd, mobile, agents, configuration

feat: Complete ML/AI Learning Platform - Phase 1 Infrastructure
  ML_AI_LEARNING_GUIDE.md
  backend/requirements.txt
  pwa-vue/.gitignore
  pwa-vue/README.md
  pwa-vue/index.html
  pwa-vue/package-lock.json
  pwa-vue/package.json
  pwa-vue/public/vite.svg
  pwa-vue/src/App.vue
  pwa-vue/src/assets/vue.svg
  pwa-vue/src/components/HelloWorld.vue
  pwa-vue/src/main.ts
  pwa-vue/src/style.css
  pwa-vue/tsconfig.app.json
  pwa-vue/tsconfig.json
  pwa-vue/tsconfig.node.json
  pwa-vue/vite.config.ts
Labels: backend, documentation, dependencies, configuration

feat: Day 0 - ML/AI Infrastructure Setup
  DAY_0_SETUP_GUIDE.md
  backend/install_ml_deps.bat
  backend/ml/__init__.py
  backend/ml/custom_llm/__init__.py
  backend/ml/custom_llm/model.py
  backend/ml/custom_llm/tokenizer.py
  backend/ml/custom_llm/train.py
  backend/ml/custom_llm/transformer.py
  backend/verify_ml_setup.py
Labels: backend, documentation

feat: Add 10-day ML intensive bootcamp with learning materials
  learning/LEARNING_PATH.md
  learning/week1/day1/README.md
  learning/week1/day1/exercises.py
  ml-bootcamp/CURRICULUM.md
Labels: documentation

feat: Add complete ML bootcamp learning platform with Flask UI
  ml-bootcamp/README.md
  ml-bootcamp/app.py
  ml-bootcamp/exams/day1_exam.json
  ml-bootcamp/requirements.txt
  ml-bootcamp/templates/base.html
  ml-bootcamp/templates/certificate.html
  ml-bootcamp/templates/exam.html
  ml-bootcamp/templates/index.html
  ml-bootcamp/templates/lesson.html
  ml-bootcamp/templates/progress.html
Labels: documentation, configuration

feat: Add persistent database storage to ML bootcamp platform
  ml-bootcamp/.gitignore
  ml-bootcamp/README.md
  ml-bootcamp/app.py
  ml-bootcamp/init_db.py
  ml-bootcamp/models.py
  ml-bootcamp/requirements.txt
Labels: documentation

feat: Add interactive practice system and exams for Days 1-5
  ml-bootcamp/app.py
  ml-bootcamp/exams/day2_exam.json
  ml-bootcamp/exams/day3_exam.json
  ml-bootcamp/exams/day4_exam.json
  ml-bootcamp/exams/day5_exam.json
  ml-bootcamp/practice/day1_exercises.py
  ml-bootcamp/templates/lesson.html
  ml-bootcamp/templates/practice.html
Labels: configuration

feat: Complete ML bootcamp exam system - Days 6-10
  ml-bootcamp/exams/day10_exam.json
  ml-bootcamp/exams/day6_exam.json
  ml-bootcamp/exams/day7_exam.json
  ml-bootcamp/exams/day8_exam.json
  ml-bootcamp/exams/day9_exam.json
Labels: configuration

docs: Add comprehensive README for ML bootcamp platform
  ml-bootcamp/README.md
Labels: documentation

feat: Upgrade code editor to Monaco Editor (VS Code)
  ml-bootcamp/templates/practice.html
Labels: none

feat: Transform ML Bootcamp into shareable, one-command platform
  ml-bootcamp/.env.example
  ml-bootcamp/.gitignore
  ml-bootcamp/CONTRIBUTING.md
  ml-bootcamp/Dockerfile
  ml-bootcamp/LICENSE
  ml-bootcamp/README.md
  ml-bootcamp/app.py
  ml-bootcamp/docker-compose.yml
  ml-bootcamp/quick-start.bat
  ml-bootcamp/quick-start.sh
  ml-bootcamp/requirements.txt
Labels: documentation, configuration

feat: Add complete ML/AI learning infrastructure
  ML_AI_LEARNING_GUIDE.md
  backend/llm/langchain_agent.py
  backend/llm/ollama_client.py
  backend/ml/pytorch/performance_predictor.py
  backend/ml/tensorflow/recommender.py
  backend/vector/qdrant_client.py
Labels: backend, documentation

.github/labeler.yml:

# Auto-labeler configuration for PRs

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'frontend/package.json'
      - 'frontend/package-lock.json'
      - 'backend/requirements.txt'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'vercel.json'
      - '.coderabbit.yaml'

mobile:
  - changed-files:
    - any-glob-to-any-file: 'mobile/**/*'

agents:
  - changed-files:
    - any-glob-to-any-file: 'agents/**/*'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.yml'
      - '**/*.yaml'
      - '**/*.json'
      - '**/*.config.*'
